<header class="bg-white border-b border-gray-100 py-4 mb-8">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold text-primary-600 tracking-tight">
      Daily Posts
    </h1>

    <div class="flex items-center gap-6" *ngIf="isLoggedIn">
      <div class="flex items-center gap-2">
        <div
          class="w-10 h-10 rounded-full bg-gray-100 flex items-center justify-center text-gray-500"
        >
          <app-icon name="user" class="h-6 w-6"></app-icon>
        </div>
        <span class="text-sm font-medium text-gray-800 hidden sm:inline"
          >{{ user?.name | uppercase }} {{ user?.lastname | uppercase }}</span
        >
      </div>
      <button
        (click)="logout()"
        class="text-base font-medium text-gray-500 hover:text-red-600 transition-colors flex items-center gap-1"
      >
        <app-icon name="logout" class="h-6 w-6"></app-icon>
        Sair
      </button>
    </div>
  </div>
</header>
