<footer class="bg-white border-t border-gray-100 py-6 mt-12">
  <div class="container mx-auto px-4 flex justify-center items-center">
    <a
      [href]="githubUrl"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-2 group transition-all"
    >
      <app-icon
        name="github"
        class="w-6 h-6 text-gray-900 group-hover:text-primary-600 transition-colors"
      ></app-icon>
      <span
        class="font-medium text-gray-900 group-hover:text-primary-600 transition-colors"
      >
        Vinicius Soares
      </span>
    </a>
  </div>
</footer>
